html {
	overflow-x: hidden;
}

pre.highlight {
    font-size: 0.9em !important;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, 'Droid Sans Mono', monospace;
    padding: 10px 0 10px 15px;
    border-radius: 3px;
}

pre.highlight code {
	overflow-x: auto; //allow to scroll, I just don't know why my Phone likes to break words and make code unreadable
}

@media ( max-width: 768px ) {
	body {
		font-size: 1em;
	}
}

@media ( max-width: 480px ) {
	body {
		font-size: 0.9em;
	}
}
