pre.highlight {
    font-size: 12px !important;
    font-family: Monaco, Menlo, 'Ubuntu Mono', Consolas, source-code-pro, 'Droid Sans Mono', monospace;
    padding: 10px 0 10px 15px;
    border-radius: 3px;
}

@media ( max-width: 768px ) {
	body {
		font-size: 1em;
	}
}

@media ( max-width: 480px ) {
	body {
		font-size: 0.9em;
	}
}
